<%= form_for(user, url: {action: action} )do |f| %>
<div class="field">
  Name: <%= f.text_field :name %>
</div>
<div class="field">
  Email: <%= f.text_field :email %>
</div>
<div class="field">
  Maximum Daily Calories: <%= f.number_field :max_calories %>
</div>
<div class="field">
  Password: <%= f.password_field :password %>   <%= f.submit "#{button_text}" %>
</div>
<% end %>
