<% if flash[:notice] %>
<%= content_tag :div, flash[:notice] %>
<% end %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= render partial: "form", locals: {user: @user, action: "create", button_text: "Sign Up"} %>

<%= link_to "Or Login With Facebook", '/auth/facebook' %>
