<% if flash[:notice] %>
<%= content_tag :div, flash[:notice] %>
<% end %>
<div class="welcome">
  <%= @user.name %>
</div>
<div class="field">
  <strong>Calorie Limit:</strong> <%= @user.max_calories %> <span class="right"><strong>Eaten Today:</strong> <%= @user.todays_calories %></span>
</div>
<% if @user.todays_calories > @user.max_calories %>
<div class="alert alert-danger">That's over <%= @user.name %>'s limit!</div>
<% end %>
<div class="field">
  <strong>Meals Eaten Today:</strong>
</div>
<div class="meal-history">

</div>
<div class="button">
  <%= link_to "Find a food item to eat", food_items_path, class: "btn btn-primary" %>
</div>
<div class="button">
  <%= link_to "Edit Profile", edit_user_path(@user), class:"btn btn-dark" %>
</div>
<div class="button">
  <%= link_to "Log Out", '/logout', method: :delete, class: "btn btn-danger" %>
</div>
