<% if flash[:notice] %>
<%= content_tag :div, flash[:notice] %>
<% end %>
<h1><%= @user.name %></h1>
<p>This user's calorie limit is <%= @user.max_calories %></p>
<p>They have had <%= @user.todays_calories %> calories today. <%= link_to "See what they've eaten", user_meals_path(@user) %></p>
<%= link_to "Log Out", '/logout', method: :delete %>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<div class="">
  <%= link_to "Find a food item to eat", food_items_path %>
</div>
