<% if flash[:notice] %>
<%= content_tag :div, flash[:notice] %>
<% end %>
<% if @meal.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@meal.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @meal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="meal-form">
  <%= form_for @meal, url: {action: "create"} do |f| %>
  <div class="field">
    <strong><%= @meal.food_item.name %></strong><span class="right"><strong>Servings:</strong> <%= f.number_field :food_quantity %></span>
  </div>
  <div class="field">
    <strong>I felt:</strong> <%= f.text_field :description %>
  </div>
  <div class="button">
    <a href="#" onclick="submitMealForm();">Eat</a>
  </div>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :food_item_id %>
  <% end %>
</div>
