<% if flash[:notice] %>
<%= content_tag :div, flash[:notice] %>
<% end %>
<% if @meal.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@meal.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @meal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="meal-form">
  <%= form_for @meal, url: {action: "create"} do |f| %>
  <h1><%= @meal.user.name %> is about to eat <%= f.number_field :food_quantity %> <%= @meal.food_item.name %>(s).</h1>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :food_item_id %>
  <p>How did this meal make you feel? <%= f.text_field :description %></p>
  <p><%= f.submit "Yes. I ate this." %></p>
  <% end %>
</div>
